<!DOCTYPE HTML>
<HTML>
<head>
<meta charset='UTF8'>
<title>Number Guessing Games</title>

<!-- css files -->
<link rel="stylesheet" type="text/css" href="css\stylesheet.css">

<!-- Package Imports -->
<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<!-- My script files -->
<script src='src/HighLowGuess.js'></script>
<script src='src/HotColdGuess.js'></script>
<script src='src/HighLowAnswer.js'></script>
<script src='src/HotColdAnswer.js'></script>
<script src='src/SimpleView.js'></script>
<script src='src/VueController.js'></script>

<!-- bind code to run upon program loading -->

<script>
  // disabled the window.onload() call to simpleView in order to prepare for conversion to Vue controller
  // window.onload = SimpleView.highLowRuntime(new HighLowGuess()) // on loading, create an instance of HighLowGuess and pass it to simpleView
  var theController = '' 
  var DEBUG = true
  document.addEventListener('DOMContentLoaded', function() {
    theController = new VueController() // deliberately global
  }) 
</script>

</head>

<body>
<div id='sidebar'>
<div id='sidebarTitle'>
<h1>Choose your game mode!</h1>
</div>
<input class='sidebarButton' type='button' v-on:click='switchTo("highLowGuess")' value='You guess High or Low'>
<input class='sidebarButton' type='button' v-on:click='switchTo("hotColdGuess")' value='You guess Hot or Cold'>
<input class='sidebarButton' type='button' v-on:click='switchTo("highLowAnswer")' value='Program Guesses High or Low'>
<input class='sidebarButton' type='button' v-on:click='switchTo("hotColdAnswer")' value='Program Guesses Hot or Cold'>
</div>

<div id='gameDiv'>
  <h1 id = 'gameTitle'> {{ titlePrompt }} </h1>
  <ul id = 'chatLog'>
    <li v-for='item in messageLog'>{{ item }}</li>
  </ul>

  <div id='gameInput'>
    <input v-on:keyup.enter='updateInputs' v-model='userInput' :placeholder='inputPrompt' :disabled='inputDisabled'>
    <button v-on:click='updateInputs' :disabled='inputDisabled'>Submit</button>
  </div>
  <br>
  <button v-on:click='resetGame'>Reset</button>

<!-- will move to a component based system when the understanding of vue is higher -->
<!-- <gameHeader></gameHeader>
<gameLog></gameLog>
<gameInput></gameInput>
<gameReset></gameReset> --> 
</div>

</body>


</HTML>